@model IPagedList<PedidosWeb.Models.Admin.Representante>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Representantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Representantes</div>
    <div class="panel-body">

        @using (Html.BeginForm("Index", "Representantes", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <label for="codigoInternoFiltro">ID</label>
                    @Html.TextBox("idFiltro", ViewBag.IDFiltroAtual as string, htmlAttributes: new { @class = "form-control", @placeholder = "ID" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="filtro">Nome</label>
                    @Html.TextBox("filtro", ViewBag.FiltroAtual as String, htmlAttributes: new { @class = "form-control", @placeholder = "Nome" })
                </div>
                <div class="col-md-4">
                    <label for="selAtivoFiltro">Situação</label>
                    <select id="selAtivoFiltro" class="form-control">
                        <option value="2">Todos</option>
                        <option value="1">Ativos</option>
                        <option value="0">Inativos</option>
                    </select>
                    @Html.Hidden("ativoFiltro", ViewBag.AtivoFiltroAtual as string, htmlAttributes: new { @value = @ViewBag.AtivoFiltroAtual })
                </div>
            </div>
            <br />
            <div>
                <button type="submit" id="btnPesquisar" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                <button type="button" title="Novo" name="btnNovo" id="btnNovo" class="btn btn-success pull-right" onclick="location.href='@Url.Action("Create", "Representantes")'">
                    <i class="glyphicon glyphicon-plus"></i> Novo item
                </button>
            </div>
        }
    </div>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink("Código", "Index", new { sortOrder = ViewBag.IDSort, filtroAtual = @ViewBag.FiltroAtual })
            </th>
            <th>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSort, filtroAtual = @ViewBag.FiltroAtual })
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefone
            </th>
            <th>
                Celular
            </th>
            <th>
                Ativo
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <button type="button" class="btn btn-primary edit" title="Editar" onclick="location.href='@Url.Action("Edit", "Rerpesentantes", new { item.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
                    <button type="button" class="btn btn-default print" style="display: none" title="Imprimir" onclick="location.href='@Url.Action("Edit", "Representantes", new { item.ID })'"><i class="glyphicon glyphicon-print"></i></button>
                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
            page,
            sortOrder = ViewBag.CurrentSort,
            filtroAtual = ViewBag.FiltroAtual,
            ativoFiltroAtual = ViewBag.AtivoFiltroAtual,
            idFiltroAtual = ViewBag.IDFiltroAtual
        }), PagedListRenderOptions.Classic)
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Admin/Representantes/Index.js")
}