@model IPagedList<PedidosWeb.Models.Pedido>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Pedidos</div>
    <div class="panel-body">

        @using (Html.BeginForm("Index", "Pedidos", FormMethod.Get))
        {
            <div class="form-group">
                <label for="filtro">Cliente</label>
                @Html.TextBox("ClienteFiltro", ViewBag.ClienteFiltroAtual as string, htmlAttributes: new { @class = "form-control", @placeholder = "Digite o nome do cliente ou CNPJ/CPF" })
            </div>
            <div class="row">                
                <div class="col-md-4">
                    <label for="codigoInternoFiltro">Código Interno</label>
                    @Html.TextBox("codigoInternoFiltro", ViewBag.CodigoInternoFiltroAtual as string, htmlAttributes: new { @class = "form-control", @placeholder = "Código Interno" })
                </div>
                <div class="col-md-4">
                    <label for="selSituacaoPedido">Situação</label>
                    <select id="selSituacaoPedido" class="form-control">
                        <option value="99">Todos</option>
                        <option value="2">Cancelado</option>
                        <option value="1">Aprovado</option>
                        <option selected="selected" value="0">Pendente</option>
                    </select>
                    @Html.Hidden("situacaoPedidoFiltro", ViewBag.SituacaoPedidoAtual as string, htmlAttributes: new { @value = @ViewBag.SituacaoPedidoAtual })
                </div>
            </div>
            <br />
            <div>
                <button type="submit" id="btnPesquisar" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                <button type="button" title="Novo" name="btnNovo" id="btnNovo" class="btn btn-success pull-right" onclick="location.href='@Url.Action("Pedido", "Pedidos")'">
                    <i class="glyphicon glyphicon-plus"></i> Novo pedido
                </button>
            </div>
        }
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <tr>
                <th>
                    Código Interno
                </th>
                <th>
                    @Html.ActionLink("Cliente", "Index", new { sortOrder = ViewBag.RazaoSocialSort, filtroAtual = @ViewBag.ClienteAtual })
                </th>
                <th>
                    @Html.ActionLink("Data do pedido", "Index", new { sortOrder = ViewBag.DataPedidoSort, filtroAtual = @ViewBag.ClienteAtual })
                </th>
                <th>
                    Valor total
                </th>
                <th>
                    Situação
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoInterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.RazaoSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SituacaoPedido)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary edit" title="Editar" onclick="location.href='@Url.Action("Pedido", "Pedidos", new { item.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
                        <button type="button" class="btn btn-default print" title="Imprimir" onclick="window.open('@Url.Action("Pedido", "Relatorios", new { item.ID })', '_blank')"><i class="glyphicon glyphicon-print"></i></button>
                    </td>
                </tr>
            }

        </table>                
        </div>      
        <div class="panel-footer">
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
                    {
                        page,
                        sortOrder = ViewBag.CurrentSort,
                        clienteFiltroAtual = ViewBag.ClienteFiltroAtual,
                        situacaoPedidoAtual = ViewBag.SituacaoPedidoAtual,
                        codigoInternoFiltroAtual = ViewBag.CodigoInternoFiltroAtual
                    }), PagedListRenderOptions.Classic)
        </div>  
    </div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Pedidos/IndexPedidos.js")
}