@model IEnumerable<PedidosWeb.Models.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoInterno)
        </th>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SituacaoPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    PedidosWeb.DAL.Contexto db = new PedidosWeb.DAL.Contexto();

    string RazaoSocial = db.Clientes.Where(x => x.ID.Equals(item.ClienteID)).Select(x => x.RazaoSocial).FirstOrDefault();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoInterno)
        </td>
        
        <td>
            @RazaoSocial
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SituacaoPedido)
        </td>
        <td>
            <button type="button" class="btn btn-primary edit" title="Editar" onclick="location.href='@Url.Action("Edit", "Pedidos", new { item.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
            <button type="button" class="btn btn-default print" title="Imprimir" onclick="location.href='@Url.Action("Edit", "Pedidos", new { item.ID })'"><i class="glyphicon glyphicon-print"></i></button>
        </td>
    </tr>
}

</table>
