@model PedidosWeb.Models.Pedido
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_Relatorio.cshtml";
}

<div class="row">
    <div class="col-xs-4">
        <img src="~/img/logo.jpg" class="logo" />
    </div>
    <div class="col-xs-5">
        <p>Produtos Alimentícios Vier Ltda</p>
        <p>VRS 873, Nº 804 - São José do Herval - Morro Reuter/RS</p>
        <p>Fone: (51) 3569-5080 E-mail: contato@@produtosvier.com</p>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-4">
        <h5>Pedido de venda Nº @Html.DisplayFor(model => model.ID)</h5>
    </div>
    <div class="col-xs-4 pull-right">
        @Html.Label("Data: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.DataPedido)
    </div>
</div>


<hr />

<div class="row">
    <div class="col-xs-4">
        @Html.Label("Cliente: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.RazaoSocial)
    </div>
    <div class="col-xs-4">
        @Html.Label("Contato: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.Telefone)
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        @Html.Label("Endereço: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.Endereco)
    </div>
    <div class="col-xs-4">
        @Html.Label("Bairro: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.Bairro)
    </div>
    <div class="col-xs-4">
        @Html.Label("Número: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.Numero)
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        @Html.Label("Cidade: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.Cidade)
    </div>
    <div class="col-xs-4">
        @Html.Label("Estado: ", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayFor(model => model.Cliente.Estado)
    </div>
</div>
<br />
<table class="table table-condensed">
    <tr>
        <th>Produto</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Valor Total</th>
    </tr>
@{ 
    List<PedidosWeb.Models.ItemPedido> itens = ViewBag.Itens as List<PedidosWeb.Models.ItemPedido>;
        
    foreach(var item in itens)
    {     
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalItem)
        </td>        
    </tr>
    }
}
</table>

<hr />

<div class="row">
    <div class="col-xs-4">
        @Html.Label("Vendedor: ", htmlAttributes: new { @class = "control-label" })
        <span>@ViewBag.Vendedor</span>
    </div>
    <div class="col-xs-4 pull-right">
        @Html.Label("Valor produtos: ", htmlAttributes: new { @class = "control-label" })
        <span>R$ @ViewBag.TotalItens</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 pull-right">
        @Html.Label("Frete: ", htmlAttributes: new { @class = "control-label" })
        R$ @Html.DisplayFor(model => model.ValorFrete)
    </div>
</div>
<div class="row">
    <div class="col-xs-4 pull-right">
        @Html.Label("Descontos: ", htmlAttributes: new { @class = "control-label" })
        R$ 0,00
    </div>
</div>
<div class="row">
    <div class="col-xs-4 pull-right">
        @Html.Label("Valor Total: ", htmlAttributes: new { @class = "control-label" })
        R$ @Html.DisplayFor(model => model.ValorTotal)
    </div>
</div>
