@model IEnumerable<PedidosWeb.Models.Pedido>

@{
    Layout = "~/Views/Shared/_Relatorio.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pedidos</title>
</head>
<body>
    <table class="table">
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.CodigoInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorFrete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacaoPedido)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.CodigoInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorFrete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacaoPedido)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
