@model PedidosWeb.Models.ItemPedido

@{
    Layout = null;
}

@using (Html.BeginForm("ItemPedido", "ItensPedido", null, FormMethod.Post, new { @id = "formItemPedido", @name = "formItemPedido" }))
            {
    @Html.AntiForgeryToken()
    
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Inserir item</h4>
        </div>        
        <div class="modal-body">            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDPedido)
            <div class="form-group">
                @Html.Label("Produto")
                @Html.DropDownListFor(model => model.IDProduto, new SelectList(ViewBag.Produtos, "ID", "Descricao"), "Selecione", htmlAttributes: new { @class = "form-control" })                
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "0,00" } })
                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.PrecoCompra, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PrecoCompra, new { htmlAttributes = new { @class = "form-control", @placeholder = "0,00" } })
                    @Html.ValidationMessageFor(model => model.PrecoCompra, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control", @placeholder = "0,00" } })
                    @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("Observações", htmlAttributes: new { @class = "control-label" })
                    @Html.TextArea("Observacoes", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Create" class="btn btn-default" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/Views/ItensPedido/ItemPedido.js")
