@model IPagedList<PedidosWeb.Models.Admin.Cliente>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <button type="button" title="Novo" name="btnNovo" id="btnNovo" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Clientes")'">Novo</button>
</p>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <div id="paginas" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <p class="navbar-brand">Filtro</p>
                        </div>                        
                            <div class="navbar-form navbar-left">
                                @using (Html.BeginForm())
                                { 
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.TextBox("filtro", ViewBag.filtro as String, htmlAttributes: new { @class = "form-control", @placeholder = "Razão Social" })
                                    </div>
                                    <div class="col-md-4">
                                        <select id="selTiposTitularFiltro" class="form-control">
                                            <option value="2">Todos</option>
                                            <option value="1">Pessoa Jurídica</option>
                                            <option value="0">Pessoa Física</option>
                                        </select>
                                        @Html.Hidden("TiposTitularFiltro", "", htmlAttributes: new { @value = @ViewBag.TiposTitularFiltro })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" id="btnPesquisar" class="btn btn-primary" value="Pesquisar">
                                    </div>
                                </div>          
                                }                 
                            </div>                                             
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>
            Razão Social
        </th>
        <th>
            Nome Fantasia
        </th>
        <th>
            CNPJ/CPF
        </th>
        <th>
            Telefone
        </th>
        <th>
            E-mail
        </th>
        <th>
            Cidade
        </th>
        <th>
            Ativo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <button type="button" class="btn btn-primary edit" title="Editar" onclick="location.href='@Url.Action("Edit", "Clientes", new { item.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
            </td>
        </tr>
    }
</table>

@if (Model.HasNextPage || Model.HasPreviousPage)
{
    <div style="text-align: center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, filtro = @ViewBag.filtro as string }), PagedListRenderOptions.Classic)
    </div>
}
